html {
    font-family: "Fira Sans", sans-serif;
    font-size: 20px;
    letter-spacing: 0.8px;
    min-height: 100vh;
    color: #d8e9ef;
    /* background-image: linear-gradient(-20deg, #239fac 0%, #cd4c40 100%); */
    background-image: url(./d0583b414f99249e7b4e74066f35af3f.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    margin: 0 auto 10px auto;
    color: #f3ce5e;
}

p {
    margin: 0;
}

.app-message {
    height: 20px;
    margin: 10px auto 20px auto;
}

.app-container {
    width: 250px;
    height: 420px;
    margin: 40px auto;
    text-align: center;
    border-radius: 5px;
    padding: 20px;
}

.app-circle {
    position: relative;
    margin: 0 auto;
    width: 200px;
    height: 200px;
}

.circle-shape {
    pointer-events: none;
}

.semi-circle {
    position: absolute;
    width: 100px;
    height: 200px;
    box-sizing: border-box;
    border: solid 8px;
}

.left-side {
    top: 0;
    left: 0;
    transform-origin: right center;
    transform: rotate(0deg);
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border-right: none;
    z-index: 1;
}

.right-side {
    top: 0;
    left: 100px;
    transform-origin: left center;
    transform: rotate(0deg);
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-left: none;
}

.circle {
    border-color: #dccd5a;
}

.circle-mask {
    border-color: #e85a71;
}

.app-counter-box {
    font-family: "Droid Sans Mono", monospace;
    font-size: 270%;
    font-weight: bolder;
    position: relative;
    top: 70px;
    color: #d8e9ef;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.1rem;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

button {
    position: relative;
    top: 50px;
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    background: none;
    background: #692d69;
    padding: 0.3rem 0.5rem;
    border-radius: 5%;
    color: #FAFAFA;
}

button:hover {
    color: #FAFAFA;
    border: 2px solid #FAFAFA;
    background-color: #692d69;
    cursor: pointer;
}

.btn-music {
    min-width: 125px;
    text-align: center;
    /* white-space: nowrap; */
}